<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Events</h1>
  </header>
  <section id="events">
    <h2>Events in Action</h2>
    <button v-on:click="add(5)">Add</button>
    <button v-on:click="remove(5)">Remove</button>
    <p>Result: {{ counter }}</p>
    <!--<input type="text" 
          v-bind:value="confirmedName" 
          v-on:input="setName($event)" 
          v-on:keyup.enter="confirmName">-->
    <input type="text" v-model="confirmedName">
    <button v-on:click="resetInput">Reset</button>
    <p>Your Name: {{ confirmedName }}</p>
    <form v-on:submit.prevent="submitForm">
      <input type="text">
      <button>Sign Up</button>
    </form>
  </section>
</body>

</html>